<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Trade Your Ideas</title>

    <meta property="og:title" content="Bli vert! - ISFIT 2013"/>
    <meta property="og:type" content="non_profit"/>
    <meta property="og:image" content="http://vert.isfit.org/venn.jpg"/>
    <meta property="og:url" content="http://vert.isfit.org/"/>
    <meta property="og:site_name" content="ISFiT 2013"/>
    <meta property="fb:app_id" content="111446192243028"/>
    <meta property="og:description" content="7. til 17. februar kommer 450 studenter til Trondheim.
De trenger et sted å bo."/>

    <meta name="description" content="ISFiT 2013 is the worlds largest international student festival. Trade Your Ideas."/>
    <meta name="viewport" content="width=device-width">

    <!-- Le styles -->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css" rel="stylesheet">
    <link href="animate.min.css" rel="stylesheet">


    <style type="text/css">
      body {
        font-family: "apertura-condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        background-color: transparent;
        padding-bottom: 150px;
      }

      html {
        height: 100%;
        background-image: url(http://i.imgur.com/mU7FI.png);
        background-attachment: fixed;
      }

      .widget-twitter-tweet img {
        float: left;
        padding-right: 1%;
      }

      .promo {
        background: url(bakgrunn.jpg) #101010 top no-repeat;
        height: 790px;
        width: 100%;
        color: white;
      }

      .hidden {
        display: none;
      }

      h1 a:hover {
        text-decoration: none;
      }

      #promo-text {
        padding-top: 52%;
        line-height: 2em;
        font-size: 3em;
      }

      #promo-text .gray {
        color: #F7F7F7;
      }

      .gray {
        text-shadow: 1px 1px 5px rgba(0, 0, 0, .75)
      }

      footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        color: white;
        z-index: 0;
      }

      #content-wrapper {
        width: 100%;
        height: 100%;
        background: white;
        z-index: 1;
        position: relative;
        box-shadow: 0 0 10px #222;
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;
        background-color: white;
        min-width: 1200px;
      }

      .bigtext h1 {
        font-size: 3.5em;
        margin-top: 30%;
        padding-bottom: 0.5em;
      }

      .bigtext h2 {
        font-size: 3.5em;
        margin-top: 40%;
        padding-bottom: 0.5em;
      }

      .bigtext p {
        font-size: 1.5em;
        line-height: 1.5em;
      }

      .graphic {
        margin-top: 30%;
      }

      .graphic2 {
        margin-top: 40%;
      }

      section {
        height: 790px;
      }

      h1.big {
        font-size: 4em;
        line-height: 2.5em;
      }
      p.big {
        font-size: 1.8em;
        line-height: 1.5em;
      }

      .center {
        text-align: center;
      }

      #why {
        background-color: rgba(65,192,240,1.0);
        color: white;
      }

      #become {
        background-color: rgba(251,188,58,1.0);
        color: #333;
      }
      blockquote {
        margin-top: 20px;
        margin-bottom:0px;
      }

      blockquote p {
        font-size: 20px;
      }

      blockquote small {
        color: white;
        font-size: 16px;
      }

      img.round {
        border-radius: 50%;
      }

      .animated {
        diplay: block;
      }

      .bottom {
        margin-top: 80px;
      }

    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


  <script type="text/javascript">
    (function() {
      var config = {
        kitId: 'lix3exh',
        scriptTimeout: 3000
      };
      var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
    })();
  </script>


  </head>

  <body>
<div id="content-wrapper">
  <div class="container">
    <div class="offset2 span8">
      <h1 id="tyi">Trade Your Ideas</h1>
    </div>
    <div id="twitter" class="offset2 span8">
    </div>
    
  </div>
</div> <!-- End content wrapper -->

    <footer id="bottom-footer">
        <a href="http://isfit.org"><img alt="Isfitliten" class="footer-logo" src="http://i.imgur.com/zobJT.png"></a>
        <p>
        Editor in Chief: Synne Mari Pedersen, editor[at]isfit.org. <br>
        All written material and the ISFiT logo is copyrighted the ISFiT Foundation © 2012. Photos accredited to <a href="http://fg.samfundet.no">Fotogjengen</a>.
        </p>
      </footer>
    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="dotimeout.min.js"></script>
    <script src="fitvids.min.js"></script>

    <script>
      $(document).ready(function() {
        $("#infofilm").fitVids();
        
        // Twitter-feed thingy
        var query = 'tradeyourideas';
        var searchUrl = 'http://search.twitter.com/search.json?callback=?&include_entities=true&q=';
        var url = searchUrl + query;
        console.log(url);
        var data = '';

        $.ajax({
          url: url,
          dataType: 'jsonp',
          data: data,
          success: callback
        });

        function callback(data) {
          console.log(data);
          var tweets = data.results;

          tweets.forEach(function(tweet){
            var article = document.createElement('article');
            article.className = 'tweet';
            article.appendChild(createTweet(tweet));
            document.getElementById('twitter').appendChild(article);
          })
        }

        function createTweet(tweet) {
          var div = document.createElement('div');
          div.className = 'widget-twitter-tweet';

          var url = "/statuses/oembed/" + tweet.id_str;

          $.ajax({
            url: url,
            dataType: 'json',
            data: data,
            success: function(data) {
              div.innerHTML += data.html;
            }
          });

          return div;
        }

      })
    </script>

  </body>
</html>
